
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, "Helvetica Neue", Arial, sans-serif;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
img {
    display: block;
    width: 100%;
}
p {
    margin: 0;
}
button:focus {
    outline: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
  }